{
  "presets": ["@babel/preset-env", "@babel/preset-flow"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@nLib": "./src/nLib",
          "@types": "./src/types"
        }
      }
    ]
  ]
}
